<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="registrarCaballo">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Registrar caballo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="visualizarCaballo">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Visualizar caballo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="consultarLista">
      <ion-icon name="send"></ion-icon>
      <ion-label>Consultar lista</ion-label>
    </ion-tab-button>
  

    <ion-tab-button tab="resultadoCompetencia">
      <ion-icon name="compass"></ion-icon>
      <ion-label>Resultados competencia</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
