<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registrar caballo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="validations_formHorse" (ngSubmit)="onSubmit(validations_formHorse.value)" >

      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input formControlName="nameFormControl"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.nameFormControl">
          <div class="error-message"
            *ngIf="validations_formHorse.get('nameFormControl').hasError(validation.type) &&
             (validations_formHorse.get('nameFormControl').dirty || 
             validations_formHorse.get('nameFormControl').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div> <!-- End formControlName="username" -->

      
    <ion-item>
      <ion-label position="stacked" #razaFormControl>Raza</ion-label>
      <ion-input formControlName="razaFormControl"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.razaFormControl">
        <div class="error-message" *ngIf="validations_formHorse.get('razaFormControl').hasError(validation.type) &&
          (validations_formHorse.get('razaFormControl').dirty || 
          validations_formHorse.get('razaFormControl').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    
      <ion-item>
        <ion-label position="stacked" #edad>Edad</ion-label>
        <ion-input formControlName="edadFormControl"></ion-input>
      </ion-item>      
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.edadFormControl">
          <div class="error-message"
            *ngIf="validations_formHorse.get('edadFormControl').hasError(validation.type) &&
             (validations_formHorse.get('edadFormControl').dirty || 
             validations_formHorse.get('edadFormControl').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div> <!-- End formControlName="edadFormControl" -->

      <ion-item>
        <ion-label position="stacked" #puntuacionExposicion>Puntuación obtenida</ion-label>
        <ion-input formControlName="puntuacionExposicionFormControl"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.puntuacionExposicionFormControl">
          <div class="error-message"
            *ngIf="validations_formHorse.get('puntuacionExposicionFormControl').hasError(validation.type) &&
             (validations_formHorse.get('puntuacionExposicionFormControl').dirty || 
             validations_formHorse.get('puntuacionExposicionFormControl').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div> <!-- End formControlName="puntuacionExposicionFormControl" -->

      <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!validations_formHorse.valid">
        Registrar</ion-button>

<!--
      <ion-item>
        <ion-label position="stacked">Fotografia</ion-label>

      </ion-item> -->

      </form><!-- End validations_formHorse -->
</ion-content>
